{% extends 'base.html' %}
{% block content %}
			<h1 class="mt-5 display-4">Sobre</h1>
			<p class="lead text-justify">Meu nome é Daniel Lavedonio de Lima, sou atualmente estudante de Engenharia Elétrica com Ênfase em Computação na <a href="https://www.poli.usp.br/" target="_blank" rel="noopener noreferrer">Escola Politécnica da USP</a> e trabalho como Estagiário de Business Intelligence na <a href="https://www.mobly.com.br/" target="_blank" rel="noopener noreferrer">Mobly</a>.</p>
			<p class="text-justify">Criar este site é um sonho de muito tempo. A década de 2010 pode ter mudado isso para as novas gerações, mas para mim e quem mais estava na internet na década de 2000 (talvez seja algo até mais velho, dos anos 1990), o ponto máximo era ter seu próprio site para dizer o que bem entendia.</p>
			<p class="text-justify">Neste site, minha intenção é ter um lugar para guardar e divulgar meus projetos pessoais, assim como testar novos conceitos e ideias de webdesign, marketing online, infraestrutura backend e análise de dados em um ambiente real.</p>
			<p class="text-justify">Para saber mais, encontre-me nestas redes sociais:</p>
			<div class="row mt-4 mb-3">
				<div class="col-lg-4 mb-2">
					<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="pt_BR" data-type="horizontal" data-theme="light" data-vanity="daniel-lavedonio-de-lima"><a class="LI-simple-link" href='https://br.linkedin.com/in/daniel-lavedonio-de-lima?trk=profile-badge'>Daniel Lavedonio de Lima</a></div>
				</div>

				<div class="col-lg-4">
					<a href="https://twitter.com/Lavedonio?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Seguir @Lavedonio</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="col-lg-4">
					<a class="github-button" href="https://github.com/Lavedonio/" data-size="large" data-show-count="true" aria-label="Siga @Lavedonio on GitHub">Siga @Lavedonio</a></script>
				</div>
			</div>

			<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
			<!-- Place this tag in your head or just before your close body tag. -->
			<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}