{% extends 'base.html' %}
{% load static %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'about' %}">{% endblock %}

{% block main_section %}
		<section class="background-img font-poppins main-img d-flex align-items-stretch" style="background-image: url({{ request.scheme }}://{{ request.get_host }}{% static 'img/art-lasovsky-pen-unsplash.jpg' %});">
			<div class="container d-flex align-items-end">
				<div class="d-block">
					<h1 class="light-text">Sobre</h1>
					<div class="line"></div>
				</div>
			</div>
		</section>
		<section class="container">
			<p class="mt-3 lead text-justify">Meu nome é Daniel Lavedonio de Lima e eu sou estudante de engenharia elétrica, um curioso por natureza e sou muito empolgado com tecnologia e seu poder de afetar o mundo.</p>
			<p class="text-justify">Atualmente sou estudante de engenharia elétrica com ênfase em computação na <a href="https://www.poli.usp.br/" target="_blank" rel="noopener noreferrer">Escola Politécnica da USP</a> e trabalho como estagiário de análise e infraestrutura de dados na <a href="https://www.revelo.com.br/" target="_blank" rel="noopener noreferrer">Revelo</a>.</p>
			<p class="text-justify">Esse fascínio me trouxe onde estou agora, buscando sempre a aprender novas coisas e, quando possível, colocá-las em prática para causar alguma mudança (mesmo que pequena) no mundo. Hoje pode não ser o melhor momento na história para ser otimista, mas  se de alguma forma o conteúdo aqui puder ajudar você, leitor, acredito que estou um passo mais perto de atingir minha satisfação pessoal.</p>
			<p class="text-justify">Este site é o produto de tudo isso combinado, desde a curiosidade em aprender a programar e a criar um site, poder ter um lugar que eu possa guardar e compartilhar experiências e projetos pessoais, até poder usar este mesmo projeto para aprender mais sobre como funciona o mundo da internet, da perspectiva de um provedor, em vez de um usuário.</p>
			<p class="text-justify">Para saber mais, encontre-me nestas redes sociais:</p>
			<div class="row mt-4 mb-3">
				<div class="col-12 col-lg-4 mb-3 order-lg-1 order-3">
					<div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="pt_BR" data-type="horizontal" data-theme="light" data-vanity="daniel-lavedonio-de-lima"><a class="LI-simple-link" href='https://br.linkedin.com/in/daniel-lavedonio-de-lima?trk=profile-badge'>Daniel Lavedonio de Lima</a></div><script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
				</div>

				<div class="col-12 col-lg-4 mb-2 order-2">
					<a href="https://twitter.com/Lavedonio?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Seguir @Lavedonio</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="col-12 col-lg-4 mb-2 order-lg-3 order-1">
					<a class="github-button" href="https://github.com/Lavedonio/" data-size="large" data-show-count="true" aria-label="Siga @Lavedonio on GitHub">Siga @Lavedonio</a><script async defer src="https://buttons.github.io/buttons.js"></script>
				</div>
			</div>
		</section>
{% endblock %}

{% block credits %}
			<span class="d-block mt-1 footer-info">Foto desta página por <a href="https://unsplash.com/@artlasovsky?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Art Lasovsky</a> em <a href="https://unsplash.com/s/photos/pen?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a></span>
{% endblock %}