{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="description" content="Site pessoal">
	<meta name="keywords" content="Python,BI,Data Science,IA,Currículo,CV">
	<meta name="author" content="Daniel Lavedonio de Lima">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'homepage' %}">{% endblock %}

	<link rel="icon" href="{{ request.scheme }}://{{ request.get_host }}{% static 'img/icons/favicon.ico' %}" type="image/x-icon"/>
	<link rel="shortcut icon" href="{{ request.scheme }}://{{ request.get_host }}{% static 'img/icons/favicon.ico' %}" type="image/x-icon"/>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Poppins&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{ request.scheme }}://{{ request.get_host }}{% static 'css/main.css' %}">

	{% block stylesheet %}{% endblock %}

	{% block title_custom %}<title>{% if title %}{{ title }} - {% endif %}Daniel Lavedonio de Lima</title>{% endblock %}

	{% if analytics_id %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ analytics_id }}');
		console.log("Page tracked");
	</script>
	{% endif %}
</head>
<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark custom-navbar">
			<div class="container">
				<a class="navbar-brand brand-font main-navbar-font" href="{{ request.scheme }}://{{ request.get_host }}{% url 'homepage' %}">Lavedonio</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vertical-navbar" aria-controls="vertical-navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="vertical-navbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item nav-list{% if navbar_active == 'home' %} active{% endif %}">
							<a class="nav-link" href="{{ request.scheme }}://{{ request.get_host }}{% url 'homepage' %}">Home{% if navbar_active == 'home' %} <span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						<li class="nav-item nav-list{% if navbar_active == 'about' %} active{% endif %}">
							<a class="nav-link" href="{{ request.scheme }}://{{ request.get_host }}{% url 'about' %}">Sobre{% if navbar_active == 'about' %} <span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						<li class="nav-item nav-list{% if navbar_active == 'projects' %} active{% endif %}">
							<a class="nav-link" href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects' %}">Projetos{% if navbar_active == 'projects' %} <span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						<li class="nav-item nav-list{% if navbar_active == 'blog' %} active{% endif %}">
							<a class="nav-link" href="{{ request.scheme }}://{{ request.get_host }}{% url 'blog' %}">Blog{% if navbar_active == 'blog' %} <span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						<li class="nav-item nav-list{% if navbar_active == 'contact' %} active{% endif %}">
							<a class="nav-link" href="{{ request.scheme }}://{{ request.get_host }}{% url 'contact' %}">Contato{% if navbar_active == 'contact' %} <span class="sr-only">(current)</span>{% endif %}</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item nav-list ml-2 ml-xl-4">
							<a class="nav-link" style="color: #2CA20E;" href="{{ request.scheme }}://{{ request.get_host }}{% url 'dashboard' %}"><i>Dashboard</i></a>
						</li>
						{% endif %}
					</ul>
					<!--<form class="form-inline ml-lg-3 ml-md-0 my-2">
						<input class="form-control" type="text" placeholder="Search" aria-label="Pesquisar">
						<button class="btn btn-outline-success ml-2" type="submit">Pesquisar</button>
					</form> -->
				</div>
			</div>
		</nav>
	</header>

	<!-- Page content -->
	<main role="main" class="flex-shrink-0">
		{% block main_section %}{% endblock %}
	</main>

	<footer class="footer custom-footer mt-auto">
		<div class="container text-center px-xl-5">

			<div class="d-lg-flex flex-row text-center text-lg-left footer-menu">
				<div class="d-block mt-md-0 brand-font mr-lg-2 mb-5">
					<h5 class="footer-menu-brand">Daniel Lavedonio de Lima</h5>
				</div>

				<div class="d-sm-flex flex-fill flex-row justify-content-around">
					<div class="d-block mx-lg-5 mt-3 mt-md-0">
						<h5 class="footer-menu-label">Mapa do Site</h5>
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'homepage' %}" class="d-block footer-menu-link">Home</a>
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'about' %}" class="d-block footer-menu-link">Sobre</a>
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects' %}" class="d-block footer-menu-link">Projetos</a>
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'blog' %}" class="d-block footer-menu-link">Blog</a>
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'contact' %}" class="d-block footer-menu-link">Contato</a>
						{% if user.is_authenticated %}<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'dashboard' %}" class="d-block footer-menu-link" style="color: #2CA20E;"><i>Dashboard</i></a>{% endif %}
					</div>

					<div class="d-block mx-md-auto pl-md-5 p-lg-0 mx-lg-5 mt-3 mt-md-0">
						<h5 class="footer-menu-label">Redes Sociais</h5>
						<a href="https://github.com/Lavedonio/" class="d-block footer-menu-link" target="_blank" rel="noopener noreferrer">GitHub</a>
						<a href="https://www.linkedin.com/in/daniel-lavedonio-de-lima/" class="d-block footer-menu-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
						<a href="https://twitter.com/Lavedonio/" class="d-block footer-menu-link" target="_blank" rel="noopener noreferrer">Twitter</a>
					</div>

					<div class="d-block mt-3 mt-md-0">
						<h5 class="footer-menu-label">Pesquisar</h5>
						<form class="mt-2" action="{{ request.scheme }}://{{ request.get_host }}{% url 'search' %}" method="GET" accept-charset="utf-8">
							<label class="sr-only" for="search">Pesquisar</label>
							<input class="form-control form-control-sm" type="text" id="search" name="q" placeholder="Pesquisar" aria-label="Pesquisar">
							<br>
							<button class="btn btn-sm btn-outline-success mt-n3" type="submit">Pesquisar</button>
						</form>
					</div>
				</div>
			</div>

			{% block credits %}{% endblock %}
			<span class="d-block mt-3 footer-info">Este site é um projeto <i>open-source</i>. Veja o código fonte <a href="https://github.com/Lavedonio/site_lavedonio_django/" target="_blank" rel="noopener noreferrer">aqui</a>.</span>
			<span class="d-block mt-1 footer-info">Daniel Lavedonio de Lima - 2020</span>
		</div>
	</footer>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% block javascript %}{% endblock %}
</body>
</html>