{% extends 'base.html' %}
{% block content %}
			<div class="welcome mt-5" style="margin-bottom: 10rem">
				<h1 class="display-1">Bem vindo!</h1>
				<h2 class="font-weight-light"><small>Este é o meu site, onde eu coloco meus projetos pessoais e mantenho um blog.</small></h2>
			</div>

			{% if projects %}
			<hr>
			<div class="projects mt-3 mb-5">
				<h2 class="display-4">Projetos em destaque</h2>
				<div class="card-deck mt-5">
					{% for project in projects %}
					<div class="card">
						{# <img class="card-img-top" src="..." alt="Card image cap"> #}
						<div class="card-body">
							<h5 class="card-title"><a href="/projetos/{{ project.slug }}/">{{ project.title }}</a></h5>
							<p class="card-text">{{ project.description }}</p>
							<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if projects %}
			<hr>
			<div class="projects mt-3 mb-5">
				<h2 class="display-4">Projetos em destaque</h2>
				<div class="row mt-5">
					{% for project in projects %}
					<div class="col-md-{% widthratio 12 projects.count 1 %} mb-3">
						<h3 class="text-center font"><a href="/projetos/{{ project.slug }}/">{{ project.title }}</a></h3>
						<p class="text-justify">{{ project.description }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if posts %}
			<hr>
			<div class="blog-posts mt-3 mb-5">
				<h2 class="display-4">Publicações do blog em destaque</h2>
				<div class="card-deck mt-5">
					{% for post in posts %}
					<div class="card">
						{# <img class="card-img-top" src="..." alt="Card image cap"> #}
						<div class="card-body">
							<h5 class="card-title"><a href="{% url 'post' post.id %}">{{ post.title }}</a></h5>
							<p class="card-text">{{ post.subtitle }}</p>
							<p class="card-text"><small class="text-muted"><a href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.id %}">{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.id %}</a></small></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if posts %}
			<hr>
			<div class="blog-posts mt-3 mb-5">
				<h2 class="display-4">Publicações do blog em destaque</h2>
				<div class="row mt-5">
					{% for post in posts %}
					<div class="col-md-{% widthratio 12 posts.count 1 %} mb-3">
						<h3 class="text-center font"><a href="{% url 'post' post.id %}">{{ post.title }}</a></h3>
						<p class="text-justify">{{ post.subtitle }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<hr>

			<div class="row mt-5 mb-5">
				<div class="col-md-6 mb-3">
					<h3>Saiba mais sobre este site</h3>
					<p>Meu nome é Daniel Lavedonio de Lima e sou o criador deste site.</p>
					<p><a class="btn btn-primary btn-md" href="{% url 'about' %}" role="button">Saiba mais &raquo;</a></p>
				</div>
				<div class="col-md-6 mb-3">
					<h3>Entre em contato</h3>
					<p>Possui dúvidas, sugestões ou tem algum projeto que precisa de ajuda?</p>
					<p><a class="btn btn-primary btn-md" href="{% url 'contact' %}" role="button">Entre em contato &raquo;</a></p>
				</div>
			</div>
{% endblock %}
