{% extends 'base.html' %}
{% load static %}
{% block main_section %}
		<!-- Hero section -->
		<section class="hero-main background-img font-poppins d-flex align-items-stretch" style="background-image: url({{ request.scheme }}://{{ request.get_host }}{% static 'img/yancy-min-code-unsplash.jpg' %});">
			<div class="container d-flex align-items-center my-5 my-md-0">
				<div class="d-block hero-main-card" style="width: 100%;">
					<h1>Olá!</h1>
					<div class="line" style="border-color: #E7F6FF;"></div>
					<h2 class="mb-4 hero-text">Meu nome é Daniel e eu sou estudante de engenharia elétrica, um curioso por natureza e sou muito empolgado com tecnologia e seu poder de afetar o mundo.</h2>
					<h2 class="hero-text">Sejam bem vindos ao meu site!</h2>
				</div>
			</div>
		</section>

		{% if projects %}
		<!-- Featured Projects -->
		<section class="background-img font-poppins pb-3 pb-md-4 d-flex align-items-stretch" style="background-image: linear-gradient(135deg, rgba(19, 16, 30, 0.8) 0%, rgba(169, 169, 169, 0.3) 100%), url({{ request.scheme }}://{{ request.get_host }}{% static 'img/jeff-sheldon-project-unsplash.jpg' %});">
			<div class="container">
				<h2 class="mt-5" style="color: white;">Projetos em destaque</h2>
				<div class="line" style="border-color: white;"></div>
				<div class="row d-md-flex flew-row justify-content-md-around justify-content-center">
					{% for project in projects %}
					<div class="project-display d-flex flex-column mx-2 my-4">
						<h3 class="pl-2 overflow-hidden"><a class="text-decoration-none" style="color: inherit;" href="{{ request.scheme }}://{{ request.get_host }}{% url 'project' project.slug %}" role="button">{{ project.title }}</a></h3>
						<div class="light-line ml-2 mt-0 mb-2" style="border-color: white;"></div>
						{% if project.category.all %}
							<div class="ml-2 mt-2">
							{% for category in project.category.all %}
								<div class="d-inline-block mr-3">{{ category.abbreviation }}</div>
							{% endfor %}
							</div>
						{% endif %}
						<div class="image-container my-2"><img class="img-fluid" src="{{ project.main_image.url }}" alt="Imagem do projeto {{ project.title }}"></div>
						<p class="my-auto">{{ project.description }}</p>
						<p class="mx-0 mb-0 mt-3"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'project' project.slug %}" role="button">Ver mais &raquo;</a></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}

		{% if posts %}
		<!-- Featured Blog Posts -->
		<section class="background-img font-poppins pb-3 pb-md-5 d-flex align-items-stretch" style="background-image: url({{ request.scheme }}://{{ request.get_host }}{% static 'img/emile-perron-code-unsplash.jpg' %});">
			<div class="container">
				<h2 class="mt-5">Publicações em destaque</h2>
				<div class="line"></div>
				<div class="d-md-flex flew-row justify-content-md-around">
					{% for post in posts %}
					<div class="post-display d-flex flex-column mx-0 mx-md-2 my-4">
						<h3 class="pl-1"><a style="color: inherit;" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.slug %}">{{ post.title }}</a></h3>
						<div class="blog-image-container my-2"><img class="img-fluid" src="{{ request.scheme }}://{{ request.get_host }}{{ post.main_image.url }}" alt="Imagem da publicação"></div>
						<p class="my-auto">{{ post.subtitle }}</p>
						<p class="mx-0 mb-0 mt-3"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.slug %}" role="button">Continuar lendo &raquo;</a></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}

		<!-- About & Contact -->
		<section class="font-poppins pb-3 pb-md-5">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6 mt-4 mt-md-5 p-4 p-md-0 pt-md-4 pr-md-4 p-lg-4">
						<h2>Saiba mais</h2>
						<div class="pt-3 wrapper-content">
							<p>Conheça mais sobre quem eu sou e o que eu faço atualmente.</p>
						</div>
						<p><a class="btn btn-primary btn-md" href="{{ request.scheme }}://{{ request.get_host }}{% url 'about' %}" role="button">Quero saber mais &raquo;</a></p>
					</div>
					<div class="col-12 col-md-6 mt-md-5 p-4 p-md-0 pt-md-4 pl-md-4 p-lg-4">
						<h2>Entre em contato</h2>
						<div class="pt-3 wrapper-content">
							<p>Quer muito dizer algo? Dê um oi por meio do formulário ou pelas redes sociais.</p>
						</div>
						<p><a class="btn btn-primary btn-md" href="{{ request.scheme }}://{{ request.get_host }}{% url 'contact' %}" role="button">Contato &raquo;</a></p>
					</div>
				</div>
			</div>
		</section>
{% endblock %}

{% block credits %}<span class="d-block mt-1 footer-info">Fotos desta página por <a href="https://unsplash.com/@yancymin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Yancy Min</a>{% if projects and posts %},{% elif projects %} e{% endif %}{% if projects %} <a href="https://unsplash.com/@ugmonk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Jeff Sheldon</a>{% endif %}{% if posts %} e <a href="https://unsplash.com/@emilep?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Émile Perron</a>{% endif %} em <a href="https://unsplash.com/s/photos/code?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a></span>{% endblock %}
