main {
	background-color: black!important;
}

h1 {
	color: #A5A5A5;
}

p {
	color: #E5E5E5;
}

img {
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

#controls {
	margin-top: 0;
	margin-bottom: 2rem;
	background-color: #050505;
	width: 600px;
}

.no-space-bottom {
	margin-bottom: 0;
}

.no-space-top {
	margin-top: 0;
}

canvas {
	margin-top: 3rem;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}