{% extends 'base.html' %}
{% load static %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'blog' %}">{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ request.scheme }}://{{ request.get_host }}{% static 'css/blog.css' %}">
{% endblock %}

{% block main_section %}
		<section class="main-section{% if filtering or page_obj.has_previous %}-filtered{% endif %} background-img font-poppins light-color-text d-flex align-items-stretch" style="background-image: linear-gradient(63deg, rgba(40, 34, 62, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%), url({% static 'img/ali-yahya-notebook-unsplash.jpg' %});">
			<div class="container main-img-padding pb-2 d-flex align-items-end">
				<div class="d-block">
					<h1 class="light-text">Blog</h1>
					<div class="line" style="border-color: #E7F6FF;"></div>
					<p class="light-text">Uma coleção de projetos, ferramentas úteis e rabiscos de pensamentos.</p>
				</div>
			</div>
		</section>
		{% if not filtering and not page_obj.has_previous %}
		<section class="font-poppins mb-3">
			<div class="container">
				<h2 class="light-text light-color-text">Publicações em destaque</h2>
				<div class="light-line" style="border-color: #E7F6FF;"></div>
				<div class="row d-md-flex flew-row justify-content-md-around justify-content-center">
					{% for post_featured in posts_featured %}
					<div class="post-display d-flex flex-column border mx-0 my-4">
						<h3 class="regular-bootstrap pl-1">{{ post_featured.title }}</h3>
						<div class="image-container my-2"><img class="img-fluid" src="{{ request.scheme }}://{{ request.get_host }}{{ post_featured.main_image.url }}" alt="Imagem da publicação"></div>
						<p class="my-auto">{{ post_featured.subtitle }}</p>
						<p class="mx-0 mb-0 mt-3"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post_featured.slug %}" role="button">Continuar lendo &raquo;</a></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}

		<section class="container mt-5 px-md-1">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-9">
					<h2 class="light-text font-poppins">Publicações{% if filtering %}{% if filtered_by == "archive" %} de {{ year_month_date|date:"F" }} de {{ year_month_date|date:"Y" }}{% else %} com a Tag {{ tag.name }}{% endif %}{% endif %}{% if page_obj.has_previous %} (Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}){% endif %}{% if filtering %}<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'blog' %}"><img class="ml-2"	src="{{ request.scheme }}://{{ request.get_host }}{% static 'img/filter_delete.png' %}" width="auto" height="40px"></a>{% endif %}</h2>
					<div class="light-line mb-5"></div>
					{% for post in page_obj %}
					<article class="mb-5">
						<h3 class="light-text"><a style="color: inherit;" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.slug %}">{{ post.title }}</a></h3>
						<p class="mb-0"><a style="color: inherit;" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.slug %}">{{ post.subtitle }}</a></p>
						<div class="background-img font-poppins light-color-text d-flex align-items-stretch" style="background-image: url({{ request.scheme }}://{{ request.get_host }}{{ post.main_image.url }}); width: 100%; height: 300px;"></div>
						<div class="media content-section mt-3 mb-2">
							<img class="rounded-circle author-image mr-2" src="{{ request.scheme }}://{{ request.get_host }}{% static 'img/eu.jpg' %}" alt="Foto de {{ post.author }}">
							<div class="media-body">
								<div class="article-metadata">
									<p class="mb-0">Publicado por <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'about' %}">{{ post.author }}</a>{% if not post.published %} <span class="ml-2 badge badge-danger">Não Publicado</span>{% endif %}</p></p>
									<p class="mt-1 mb-0"><small class="text-muted">Criado em {{ post.date_posted|date }} às {{ post.date_posted|time:"H:i" }}</small></p>
									{% if not post.lt_one_minute_between_creation_and_update %}<p class="mt-0 mb-0"><small class="text-muted">Última atualização em {{ post.last_updated|date }} às {{ post.last_updated|time:"H:i" }}</small></p>{% endif %}
								</div>
							</div>
						</div>
						{% if user.is_authenticated %}
						<div class="mb-2">
							<div class="d-block mb-1">Controles de administrador:</div>
							<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'post-update' post.slug %}" class="btn btn-primary btn-sm mb-1">Editar Publicação</a>
							<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'post-delete' post.slug %}" class="btn btn-danger btn-sm mb-1">Deletar Publicação</a>
						</div>
						{% endif %}
						{% if post.tag.all %}
						<div class="tag-block">
							<span class="mx-1">Tags:</span>
							{% for tag in post.tag.all %}
							<div class="tag" style="background-color: {{ tag.background_color }}; color: {{ tag.color }}">{{ tag.name }}</div>
							{% endfor %}
						</div>
						{% endif %}
						<p class="mt-2">{{ post.content|linebreaks|truncatewords:50 }}</p>
						<p class="mb-4"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'post' post.slug %}" role="button">Continuar lendo &raquo;</a></p>
					</article>
					{% endfor %}

					<!-- Pagination -->
					{% if page_obj.paginator.num_pages > 1 %}
					<nav class="mb-5" aria-label="Paginação do Blog">
						<ul class="pagination justify-content-center">
							{% if page_obj.has_previous %}
							<li class="page-item">
								<a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina=1" aria-label="Primeira Página">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Primeira Página</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ page_obj.previous_page_number }}">Anterior</a></li>
							{% else %}
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Primeira Página">
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Primeira Página</span>
								</a>
							</li>
							<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a></li>
							{% endif %}
							{% if 1 < page_obj.number|add:'-2' %}
								<li class="page-item"><a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina=1">1</a></li>
								{% if 1 < page_obj.number|add:'-3' %}<li class="page-item"><a class="page-link" href="#">...</a></li>{% endif %}
							{% endif %}
							{% for num in page_obj.paginator.page_range %}
								{% if page_obj.number == num %}
									<li class="page-item active">
										<a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
									</li>
								{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
									<li class="page-item"><a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ num }}">{{ num }}</a></li>
								{% endif %}
							{% endfor %}
							{% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
								{% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}<li class="page-item"><a class="page-link" href="#">...</a></li>{% endif %}
								<li class="page-item"><a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
							{% endif %}
							{% if page_obj.has_next %}
							<li class="page-item"><a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ page_obj.next_page_number }}">Próxima</a></li>
							<li class="page-item">
								<a class="page-link" href="{{ request.scheme }}://{{ request.get_host }}{% if filtering %}{% url filtered_by filtered_url %}{% else %}{% url 'blog' %}{% endif %}?pagina={{ page_obj.paginator.num_pages }}" aria-label="Última Página">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Última Página</span>
								</a>
							</li>
							{% else %}
							<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Próxima</a></li>
							<li class="page-item disabled">
								<a class="page-link" href="#" tabindex="-1" aria-disabled="true" aria-label="Última Página">
									<span aria-hidden="true">&raquo;</span>
									<span class="sr-only">Última Página</span>
								</a>
							</li>
							{% endif %}
						</ul>
					</nav>
					{% endif %}

				</div>

				<aside class="col-12 col-md-4 col-lg-3">
					{% if user.is_authenticated %}
					<div class="p-3 border border-success">
						<h4 class="font-italic font-poppins mb-2">Controles de administrador:</h4>
						<div class="d-block"><a href="{{ request.scheme }}://{{ request.get_host }}{% url 'post-create' %}" class="btn btn-success btn-sm">Nova Publicação</a></div>
					</div>
					{% endif %}
					<div class="p-3">
						<h4 class="font-italic font-poppins mb-2">Tags</h4>
						{% for tag_instance in tags %}
						<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'tag' tag_instance.name|lower %}"><div class="tag" style="background-color: {{ tag_instance.background_color }}; color: {{ tag_instance.color }}">{{ tag_instance.name }}</div></a>
						{% endfor %}
					</div>
					<div class="p-3 mb-3">
						<h4 class="font-italic font-poppins mb-3">Arquivos</h4>
						{% for year in archive_queryset_years %}
						<h5 class="mt-3 mb-1" style="font-size: 19px;">{{ year }}</h5>
						<div class="light-line mt-0 mb-2" style="width: 35px; margin-left: 0px;"></div>
						<ol class="list-unstyled mb-0">
						{% for instance in archive_queryset|dictsortreversed:"date_posted_year_month" %}
							{% if instance.date_posted_year_month|date:"Y" == year %}
							<li class="font-italic"><a href="{{ request.scheme }}://{{ request.get_host }}{% url 'archive' instance.date_posted_year_month|date:'Y-m' %}">{{ instance.date_posted_year_month|date:"F" }} de {{ instance.date_posted_year_month|date:"Y" }} ({{ instance.num_posts }})</a></li>
							{% endif %}
						{% endfor %}
						</ol>
						{% endfor %}
					</div>
				</aside>
			</div>
		</section>
{% endblock %}

{% block credits %}
			<span class="d-block mt-1 footer-info">Foto no topo desta página por <a href="https://unsplash.com/@ayahya09?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ali Yahya</a> em <a href="https://unsplash.com/s/photos/notebook?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span>
{% endblock %}
