main > .container {
  padding: 60px 15px 0;
}

/*#main-background {
	background-color: #001B31!important;
}*/

#custom-nav {
	background-color: #000B1F!important;
}

.footer {
  background-color: #000B1F;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}