.custom-navbar {
	min-height: 9vh;
	background-color: #000124!important;
	color: #CFCFCF;
}

.brand-font {
	font-family: 'Dancing Script', cursive;
}

.main-navbar-font {
	font-size: 40px;
	line-height: 40px;
}

.nav-list {
	padding-left: 10px;
	padding-right: 10px;
}

.custom-footer {
	background-color: #222326;
	padding-top: 50px;
	padding-bottom: 25px;
}

.footer-menu {
	margin-bottom: 40px;
	text-align: left;
}

.footer-menu-brand {
	color: #E7F6FF;
	font-size: 26px;
	line-height: 40px;
}

.footer-menu-label {
	color: #E7F6FF;
	font-size: 17px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.footer-menu-link {
	/* color: #004CFF; */
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 10px;
}

.footer-info {
	color: #E7F6FF;
	font-size: 15px;
	line-height: 1.5;
}

