h1 {
	font-weight: bold;
	font-size: 60px;
	font-size: 3.75rem;
	line-height: 1.3;
}

h2 {
	font-weight: bold;
	font-size: 38px;
	font-size: 2.375rem;
	line-height: 1.4;
}

h2.regular-bootstrap {
	font-weight: 500;
	font-size: 2em;
}

.custom-navbar {
	min-height: 9vh;
	background-color: #000124!important;
	color: #CFCFCF;
}

.brand-font {
	font-family: 'Dancing Script', cursive;
}

.main-navbar-font {
	font-size: 40px;
	line-height: 40px;
}

.nav-list {
	padding-left: 10px;
	padding-right: 10px;
}

.custom-footer {
	background-color: #222326;
	padding-top: 50px;
	padding-bottom: 25px;
}

.footer-menu {
	margin-bottom: 40px;
}

.footer-menu-brand {
	color: #E7F6FF;
	font-size: 26px;
	line-height: 40px;
}

.footer-menu-label {
	color: #E7F6FF;
	font-size: 17px;
	line-height: 1.2;
	margin-bottom: 15px;
}

.footer-menu-link {
	/* color: #004CFF; */
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 10px;
}

.footer-info {
	color: #E7F6FF;
	font-size: 15px;
	line-height: 1.5;
}

.line {
	border: 2px solid #333;
	width: 100px;
	margin-top: 23px;
	margin-bottom: 20px;
	margin-left: 5px;
}

.light-line {
  border-top: 2px solid #333;
  width: 75px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}

.font-poppins {
	font-family: 'Poppins', arial, tahoma, sans-serif;
}

.light-color-text {
	color: #E7F6FF;
}

.light-text {
	font-weight: normal;
}

.background-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero-main {
	margin: 0px;
	min-height: 91vh;
}

.hero-main-card {
	padding: 18px 40px;
	color: #E7F6FF;
	background-color: rgba(0, 0, 0, 0.71);
	-webkit-box-shadow: 10px 10px 20px 1px rgba(255, 255, 255, 0.19);
	-moz-box-shadow: 10px 10px 20px 1px rgba(255, 255, 255, 0.19);
	box-shadow: 10px 10px 20px 1px rgba(255, 255, 255, 0.19);
}

.project-display {
	padding: 20px 15px;
	color: #E7F6FF;
	max-width: 400px;
	background-color: rgba(0, 0, 0, 0.71);
	-webkit-box-shadow: 14px 14px 13px 4px rgba(81, 84, 85, 0.22);
	-moz-box-shadow: 14px 14px 13px 4px rgba(81, 84, 85, 0.22);
	box-shadow: 14px 14px 13px 4px rgba(81, 84, 85, 0.22);
}

.project-display > h3 {
	font-weight: normal;
}

.project-display > p {
	font-size: 14px;
	font-size: 0.8750rem;
}

.image-container {
	width: 100%;
	height: auto;
}

.image-container > img {
	max-width: 100%;
	height: auto;
}

.post-display {
	padding: 20px 15px;
	max-width: 500px;
	background-color: white;
	-webkit-box-shadow: 11px 11px 14px -5px black;
	-moz-box-shadow: 11px 11px 14px -5px black;
	box-shadow: 11px 11px 14px -5px black;
}

.project-display > h3 {
	font-weight: normal;
}

.wrapper-content {
	min-height: 100px;
}

.main-img {
	min-height: 40vh;
}

.main-img-padding {
	padding-top: 7.5rem;
	padding-bottom: 8rem;
}

.overlap-container {
	background-color: white;
	margin-top: -7.5rem;
	border-radius: 3px;
}

.contact-secondary-headings {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.2;
}

.smaller-heading {
	font-size: 40px;
	font-size: 2.5rem;
}
