.crop {
  width: 200px;
  height: 300px;
  overflow: hidden;
}

.crop img {
  width: auto;
  height: 300px;
}

.most-featured-margin {
  margin: -2.25rem -2rem -2.25rem 0;
}

.main-img {
	height: 25%;
}

.light-text {
	color: #E5E5E5;
}

.header-img {
	margin-top: 5rem;
}

.author-image {
	width: 64px;
	height: auto;
}

.article-list {
	/*border-radius: 15px;*/
	border-width: 1px;
	border-style: solid;
	border-color: #E5E5E5;
}

.title, .title:hover {
  color:inherit;
  /*text-decoration: none;*/
 }

.featured-articles {
	margin-top: 5rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
    .p-img {
      padding-top: 2.25rem!important;
      padding-bottom: 2.25rem!important;
      padding-left: 2.25rem!important;
    }
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

/*.main-img {
   width: 100vw;
   position: relative;
   left: 50%;
   margin-left: -50vw;
}

.main-img img {
  width: 100%;
}
*/