.main-section {
  min-height: 40vh;
  padding-bottom: 185px;
  margin-bottom: -185px;
}

.main-section-filtered {
  min-height: 40vh;
}

.post-main-img {
  min-height: 40vh;
}

.main-img-padding {
  padding-top: 7.5rem;
  padding-bottom: 0;
}

.blog-image-container {
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
}

.gradient {
  background: linear-gradient(63deg, rgba(40, 34, 62, 0.8) 0%, rgba(255, 255, 255, 0.3) 100%);
}

.tag {
  display: inline-block;
  margin: 5px 2px;
  padding: 1px 8px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  line-height: 1.6;
}

.tag-block {
  font-size: 13px;
}

.author-image {
	width: 64px;
	height: auto;
}
