{% extends 'base.html' %}
{% load static %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects' %}">{% endblock %}

{% block main_section %}
		<section class="background-img font-poppins main-img-wider light-color-text d-flex align-items-stretch" style="background-image: url({% static 'img/ales-nesetril-technology-unsplash.jpg' %});">
			<div class="container d-flex align-items-end">
				<div class="d-block">
					<h1 class="light-text">Projetos</h1>
					<div class="line" style="border-color: #E7F6FF;"></div>
					<p class="mb-4">Estes são os projetos pessoais que desenvolvi e continuo desenvolvendo com o intuito de seja para facilitar o meu próprio trabalho, seja para praticar novos conceitos que acabei de aprender ou simplesmente porque deu vontade.</p>
				</div>
			</div>
		</section>

		{% if projects_featured %}
		<!-- Featured Projects -->
		<section class="pt-3 pb-4" style="background-image: linear-gradient(180deg, #11121C 99%, #FFFFFF 100%);">
			<div class="container">
				<h2 class="font-poppins light-text light-color-text">Em destaque</h2>
				<div class="light-line" style="border-color: #E7F6FF;"></div>
				<div class="row d-md-flex flew-row justify-content-md-around justify-content-center">
					{% for project_featured in projects_featured %}
					<div class="project-display d-flex flex-column mx-2 my-4">
						<h3 class="regular-bootstrap pl-2">{{ project_featured.title }}</h3>
						<div class="light-line ml-2 mt-0 mb-2" style="border-color: white;"></div>
						{% if project_featured.categories.all %}<div class="ml-2 mt-2">{% for category in project_featured.categories.all %}<div class="d-inline-block mr-3">{{ category.abbreviation }}</div>{% endfor %}</div>{% endif %}
						<div class="image-container my-2"><img class="img-fluid" src="{{ project_featured.main_image.url }}" alt="Imagem do projeto {{ project_featured.title }}"></div>
						<p class="my-auto">{{ project_featured.description }}</p>
						<p class="mx-0 mb-0 mt-3"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'project' project_featured.slug %}" role="button">Ver mais &raquo;</a></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		{% endif %}

		<section class="pt-3 pb-4">
			<div class="container">
				<h2 class="font-poppins light-text">Todos os projetos</h2>
				<div class="light-line"></div>
				<div class="row d-md-flex flew-row-reverse justify-content-md-start justify-content-center">
					{% for project in projects %}
					<div class="project-display d-flex flex-column mx-2 my-4" style="background-color: rgba(0, 0, 0, 0.9);">
						<h3 class="regular-bootstrap pl-2">{{ project.title }}</h3>
						<div class="light-line ml-2 mt-0 mb-2" style="border-color: white;"></div>
						{% if project.categories.all %}<div class="ml-2 mt-2">{% for category in project.categories.all %}<div class="d-inline-block mr-3">{{ category.abbreviation }}</div>{% endfor %}</div>{% endif %}
						<div class="image-container my-2"><img class="img-fluid" src="{{ project.main_image.url }}" alt="Imagem do projeto {{ project.title }}"></div>
						<p class="my-auto">{{ project.description }}</p>
						<p class="mx-0 mb-0 mt-3"><a class="btn btn-primary btn-sm" href="{{ request.scheme }}://{{ request.get_host }}{% url 'project' project.slug %}" role="button">Ver mais &raquo;</a></p>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
{% endblock %}

{% block credits %}
			<span class="d-block mt-1 footer-info">Foto no topo desta página por <a href="https://unsplash.com/@alesnesetril?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Ales Nesetril</a> em <a href="https://unsplash.com/s/photos/technology?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="noopener noreferrer">Unsplash</a></span>
{% endblock %}
