{% extends 'base.html' %}
{% load static %}
{% block viewport %}{% if project.fix_autoscale %}<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">{% else %}<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{% endif %}{% endblock %}
{% block canonical %}<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects' %}">{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ request.scheme }}://{{ request.get_host }}{% static 'css/projects.css' %}">
	{% if project.css %}<link rel="stylesheet" type="text/css" href="{{ request.scheme }}://{{ request.get_host }}{% static project.css %}">{% endif %}

	{% if project.custom_font %}
	<!-- Font pack: http://www.mattlag.com/bitfonts/ -->
	<!-- Include fonts in Django: https://stackoverflow.com/questions/21346045/django-new-fonts -->
	<!-- All font types for all Browsers: https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css -->
	<style>
		@font-face {
			font-family: "Bit5x3";
			src: url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.eot' %}'); /* IE9 Compat Modes */
			src: url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.eot?#iefix' %}') format("embedded-opentype"), /* IE6-IE8 */
				url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.otf' %}') format("opentype"), /* Open Type Font */
				url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.svg' %}') format("svg"), /* Legacy iOS */
				url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.ttf' %}') format("truetype"), /* Safari, Android, iOS */
				url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.woff' %}') format("woff"), /* Modern Browsers */
				url('{{ request.scheme }}://{{ request.get_host }}{% static 'fonts/bit5x3/bit5x3.woff2' %}') format("woff2"); /* Modern Browsers */
			font-weight: normal;
			font-style: normal;
		}
	</style>
	{% endif %}
{% endblock %}

{% block main_section %}
		<section class="main-img background-img font-poppins light-color-text d-flex align-items-stretch" style="background-image: linear-gradient(63deg, rgba(6, 8, 31, 0.8) 50%, rgba(255, 255, 255, 0.3) 100%), url({{ request.scheme }}://{{ request.get_host }}{% static 'img/testing.jpg' %});">
			<div class="container main-img-padding pb-2 d-flex align-items-end">
				<div class="d-block">
					<h1 class="light-text content-title text-break">{{ project.title }}</h1>
					<div class="line" style="border-color: #E7F6FF;"></div>
					<p class="light-text">{{ project.description }}</p>
				</div>
			</div>
		</section>
		<article class="pt-3 pb-5{% if project.dark_background %} dark-background{% else %} light-background{% endif %}">
			<div class="container{%if project.dark_background %} light-color-text{% endif %}">
				{% if project.categories %}
					<div class="mt-2">
						<span class="mx-1">Categorias:</span>
						{% for category in project.categories %}
						<div class="d-inline-block mr-3" style="{% if project.dark_background %}color: #DE4B4B;{% else %}color: #C11111;{% endif %}">{{ category }}</div>
						{% endfor %}
					</div>
				<hr>
				{% endif %}
				<div class="d-block mb-4">
					<p class="lead mb-4">Esta é a recriação do primeiro jogo da Atari, feito em 1972, que foi um dos grandes responsáveis pelo nascimento da indústria do videogame como conhecemos.</p>

					<p class="text-center mb-1"><img class="img-fluid sample-gif" src="https://upload.wikimedia.org/wikipedia/commons/6/62/Pong_Game_Test2.gif" alt="Jogo acontecendo no fliperama original"></p>
					<p class="text-center img-description">Você veria isso se estivesse jogando em 1972</p>

					<p class="article-content">Como queria aprender mais sobre a liguagem de programação <em>Javascript</em> e <em>frontend</em> em geral, decidi ir além do <em>Hello World</em> e recriar esse clássico em HTML5/CSS3 e Javascript modernos. Afinal, se <a href="https://en.wikipedia.org/wiki/Allan_Alcorn" target="_blank" rel="noopener noreferrer">Allan Alcorn</a> conseguiu, quase 40 anos atrás e recém-formado no mesmo curso que eu faço atualmente, fazer em 3 meses esse jogo com chips programáveis a nível de transistor e muita solda, eu consigo fazer no conforto de um computador milhões de vezes mais potente e com o Google para me ajudar.</p>

					<p class="article-content">Quando o jogo foi lançado, precisava de todo um equipamento e circuito digital feito especificamente para rodá-lo. Depois, este jogo passou para diversas gerações de consoles que podiam ser jogados em casa, e finalmente para PC. Várias versões foram feitas, muitas em <i>Flash</i>, mas poucas com implementação moderna.</p>

					<p class="article-content">Para este primeiro jogo, me baseei neste <a href="https://www.udemy.com/code-your-first-game/" target="_blank" rel="noopener noreferrer">curso da Udemy</a>, mas indo além e tornando-o responsível, de forma com que ele possa ser jogado não só no computador, mas também em tablets e smartphones (ou quaisquer dispositivos com telas <i>touch</i> e que consigam acessar essa página).</p>

					<p class="article-content mb-4">Este projeto ainda não está completo. Pretendo ainda implementar outros modos de jogo em breve. Caso queira baixar esses arquivos visite meu <a href="https://github.com/Lavedonio/games" target="_blank" rel="noopener noreferrer">repositório de jogos no GitHub</a>.</p>

					<h4>Versão atual: <strong>2.0.1</strong> - 14/06/2020</h4>
					<p>Correção de bug em que a bola ficava presa nas laterais.</p>

					<h5 class="mt-4">Versões anteriores:</h5>
					<ul>
						<li><strong>2.0.0</strong> - 12/06/2020 - Modo de tênis adicionado e lógica interna do jogo reconstruída e melhorada. Agora o jogo também possui uma tela de início que serve de demonstração do jogo.</li>
						<li><strong>1.0.0</strong> - 21/05/2020 - Jogo lançado! Ainda construindo modos de jogo de tênis e futebol.</li>
					</ul>

					<h3 class="mt-5">Escolha um modo de jogo:</h3>
					<ul class="nav nav-tabs mt-4 mb-2" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link classic active" id="classic-tab" data-toggle="tab" href="#classic" role="tab" aria-controls="classic" aria-selected="true">Clássico</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link tennis" id="tennis-tab" data-toggle="tab" href="#tennis" role="tab" aria-controls="tennis" aria-selected="false">Tênis</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link football" id="football-tab" data-toggle="tab" href="#football" role="tab" aria-controls="football" aria-selected="false">Futebol</a>
						</li>
					</ul>
					<div class="tab-content mb-3" id="myTabContent">
						<div class="tab-pane fade show active" id="classic" role="tabpanel" aria-labelledby="classic-tab">
							<p>Este é o jogo <strong class="classic">clássico</strong> do Pong (para 1 jogador), no qual você controla a raquete da <strong>esquerda</strong>.</p>
							<h3>Instruções</h3>
							<ol>
								<li>Você deve evitar que a bola acerte sua parede lateral. Se isso ocorrer, resultará em um ponto para o adversário e vice-versa.</li>
								<li>Ao ultrapassar a pontuação máxima de 5 pontos (podendo ser alterada nos ajustes abaixo do jogo), quem tiver a maior pontuação ganha.</li>
								<li>Há 3 níveis de dificuldade (também podendo ser alterado nos ajustes abaixo do jogo), sendo que cada um irá alterar a proporção entre o tamanho da sua raquete em relação a de seu adversário.</li>
								<li>Para tornar o jogo mais desafiador, com o passar do tempo a bola vai ficando cada vez mais rápida.</li>
							</ol>
							<h3>Controles</h3>
							<p>Se você está usando um mouse, utilize o cursor para guiar a raquete; caso esteja numa tela touch, utilize seu dedo. A raquete irá acompanhar seu cursor/dedo desde que o movimento esteja sendo feito <strong>dentro dos limites da área do jogo</strong> (dentro da borda branca). Recomendo jogar em <strong>tela cheia</strong> clicando/tocando no botão de mesmo nome.</p>
							<h4>Bom jogo! ;)</h4>
						</div>
						<div class="tab-pane fade" id="tennis" role="tabpanel" aria-labelledby="tennis-tab">
							<p>Este é o jogo Pong, na sua versão de <strong class="tennis">tênis</strong> (para 1 jogador), no qual você controla as duas raquetes da <strong>esquerda</strong>.</p>
							<h3>Instruções</h3>
							<ol>
								<li>Você deve evitar que a bola acerte sua parede lateral. Se isso ocorrer, resultará em um ponto para o adversário e vice-versa.</li>
								<li>Ao ultrapassar a pontuação máxima de 5 pontos (podendo ser alterada nos ajustes abaixo do jogo), quem tiver a maior pontuação ganha.</li>
								<li>Há 3 níveis de dificuldade (também podendo ser alterado nos ajustes abaixo do jogo), sendo que cada um irá alterar a proporção entre o tamanho da sua raquete em relação a de seu adversário.</li>
								<li>Para tornar o jogo mais desafiador, com o passar do tempo a bola vai ficando cada vez mais rápida.</li>
							</ol>
							<h3>Controles</h3>
							<p>Se você está usando um mouse, utilize o cursor para guiar a raquete do fundo; caso esteja numa tela touch, utilize seu dedo. A <strong>raquete do fundo</strong> irá acompanhar seu cursor/dedo, enquanto a raquete da frente irá espelhar verticalmente o movimento. Para que seu comando seja registrado, o movimento do cursor/dedo deve ser feito <strong>dentro dos limites da área do jogo</strong> (dentro da borda branca). Recomendo jogar em <strong>tela cheia</strong> clicando/tocando no botão de mesmo nome.</p>
							<h4>Bom jogo! ;)</h4>
						</div>
						<div class="tab-pane fade" id="football" role="tabpanel" aria-labelledby="football-tab">
							<p>Este é o jogo Pong, na sua versão de <strong class="football">futebol</strong> (para 1 jogador), no qual você controla o time da <strong>esquerda</strong>.</p>
						</div>
					</div>

					<p class="article-content mb-5"><strong style="color: #DE4B4B;">Aviso:</strong> para telas <em>touch</em>, você precisará entrar em modo de tela cheia para jogar.</p>

					<p class="text-center mb-3"><a class="btn-fullscreen" id="lockpage" href="#" role="button">Tela cheia</a></p>

					<div id="backgroundfill" class="dark-background"></div>
					<div id="lockframe" class="mb-3 game dark-background">
						<div id="closeicon" class="d-none close mx-auto">
							<span class="light-color-text">Fechar <img src="{{ request.scheme }}://{{ request.get_host }}{% static 'img/x_icon.svg' %}" class="ml-2" width="24px" alt="Exit Fullscreen"></span>
						</div>
						<p class="text-center mx-auto no-space-bottom"><canvas id="gameCanvas" class="mx-auto" width="200" height="150"></canvas></p>

						<div id="controls" class="row mx-auto">
							<div class="col-sm-12">
								<p class="lead">Ajustes</p>
							</div>
							<div class="col-sm-6">
								<p>Pontuação máxima:
									<select id="max-score" class="custom-select custom-select-sm">
										<option value="1">1 ponto</option>
										<option value="3">3 pontos</option>
										<option value="5" selected>5 pontos</option>
										<option value="10">10 pontos</option>
										<option value="15">15 pontos</option>
										<option value="20">20 pontos</option>
										<option value="0">Sem limite de pontos</option>
									</select>
								</p>
							</div>
							<div class="col-sm-6">
								<p>Dificuldade:
									<select id="difficulty" class="custom-select custom-select-sm">
										<option value="easy">Fácil</option>
										<option value="medium" selected>Médio</option>
										<option value="hard">Difícil</option>
									</select>
								</p>
							</div>
						</div>
					</div>
				</div>
				<a href="{{ request.scheme }}://{{ request.get_host }}{% url 'projects' %}" class="btn btn-info btn-sm">&laquo; Voltar aos Projetos</a>
			</div>
		</article>
{% endblock %}

{% block credits %}
			{% if project.credits %}<span class="d-block mt-1 mb-3 footer-info">{{ project.credits|safe }}</span>{% endif %}
{% endblock %}

{% block javascript %}
	<script src="{{ request.scheme }}://{{ request.get_host }}{% static 'js/projects.js' %}"></script>
	{% if project.js %}<script src="{{ request.scheme }}://{{ request.get_host }}{% static project.js %}"></script>{% endif %}
{% endblock %}
